
<div class="pb-5">
  <div class="error" align="center">{{regRespond}}</div>
  <form #form="ngForm" (ngSubmit)="onSubmit()" >
    <div class="flex-center justify-content-center">
      <div class="col-lg-4 my-md-4">
        <mdb-card>
          <h5 class="card-header grey white-text text-center py-4">
            <strong> Sign up </strong>
          </h5>
          <mdb-card-body>
            <div class="md-form">
              <input  mdbInputDirective required type="text"  class="form-control" id= "Username" name="Username" [(ngModel)] = "Username"  #UserName="ngModel" data-error=" " data-success =" "  >
              <label for="Username"> UserName </label>
            </div>
            <div class="md-form">
              <input  mdbInputDirective required type="text"  class="form-control" id="FirstName" name="Firstname" [(ngModel)] = "Firstname" data-error=" " data-success =" "  #FirstName="ngModel" >
              <label for="FirstName"> First name </label>
            </div>
            <div class="md-form">
              <input  mdbInputDirective required type="text"  class="form-control" id= "LastName" name="Lastname" [(ngModel)] = "Lastname" data-error=" " data-success =" "  #LastName ="ngModel" >
              <label for="LastName"> Last name </label>
            </div>
            <div class="md-form">
              <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" mdbInputDirective required type="text" id="email" class="form-control" data-error="Invalid Email" data-success =" "  name="email" [(ngModel)] = "Email"  #email="ngModel">
              <label for="email"> Email </label>
            </div>

            <div class="md-form">
              <input mdbInputDirective required type="password" minlength="8" id="materialRegisterFormPassword" class="form-control"    name="Password" data-error=" " data-success =" "  [(ngModel)] = "Password" required #password ="ngModel">
              <label for="materialRegisterFormPassword">Password</label>
              <br>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                Must be at least 8 characters.
              </small>
            </div>
            <div class="md-form">
              <input mdbInputDirective required type="password" minlength="8"  id="materialRegisterFormConfirmPassword" class="form-control" name="RPassword" data-error=" " data-success =" " [(ngModel)] = "rpass" #Rpassword = "ngModel" required compare="Password">
              <label for="materialRegisterFormConfirmPassword">Re-type Password</label>
            </div>
            <br>
            <small *ngIf="Rpassword.errors && (Rpassword.value != null)">Password do not match</small>
            <div class="text-center">
              <button mdbBtn color="grey" class="waves-light" mdbWavesEffect (click)="Register()" [disabled]="form.invalid"> Register </button>
            </div>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </form>
</div>
