/*
.behind{
    min-height: 750px ;
    width: 100%;
background: whitesmoke}
.form{
  alignment: center;
}
h2{
  margin-bottom: 20px;
  alignment: center;
  color: #ffffff;
}
.imge{
  float: left;
  margin-left: 20px;
  size: auto;
}
.loginbox{
  background-image: linear-gradient(45deg, #d7d2cc 0%, #304352 100%);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s ease infinite;
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 38% ;
  margin-top: 5%;
  alignment: center;
  width: 350px;
  height: 460px;
  padding: 60px 40px;
    border-radius: 60px;
  color: white;
}
@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}


::placeholder{
  color: rgba(255,255,255,.5);

}

.sign{
  border: none;
  outline: none;
  height: 40px;
  width: 270px;
  alignment: center;
  font-size: 16px;
  background:powderblue;
  margin-top: 40px;
  border-radius: 20px

}
.sign:hover{
  background: palevioletred;
  color: #fff;
}
.signup{
  color: lightseagreen;
}
.signup:hover{
  color: palevioletred;
}
.user{
  float: right;
}
.error{
  color: red;
  font-size: 20px;
  text-align: center;
}
.mat-input-wrapper {
  background: white;
}
.forgot{
  color: lightseagreen;
}

.forgot:hover{
  color: palevioletred;
}
.signin{
  color: blanchedalmond;
}
*/
