
<body><section class="section pb-5 text-center">
    <h4 class="section-heading h1 pt-4"> Team Prism </h4>
    <br>
    <div class="row justify-content-lg-center">
    <div class="ui-grid-row col-lg-3 col-md-12 mb-4  ">
        <div class="card testimonial-card">
            <div class="card-deck teal lighten-2">
            </div>
            <div class="avatar mx-auto white"><img src="./assets/images/avash.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid" width="200px" height="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title mt-1">Avash Mishra</h4>
                <hr>
                <p><i class="fa fa-quote-left"></i> Avash mishra will be filling this up. Please </p>
            </div>
        </div>
    </div>

        <div class="col-lg-3 col-md-12 mb-4 ">
            <div class="card testimonial-card">
                <div class="card-up blue lighten-2">
                </div>
                <div class="avatar mx-auto white"><img src="./assets/images/prakash.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid" width="200px" height="200px">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-1"> Prakash Timalsina </h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> A little bit of craziness and more of rudeness. Life is lit. </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 mb-4 ">
            <div class="card testimonial-card">
                <div class="card-up deep-purple lighten-2"></div>
                <div class="avatar mx-auto white"><img src="./assets/images/anusha.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid" width="200px" height="200px">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-1">Anusha Puri</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> Anusha Puri will be filling this up. Please </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 mb-4 justify-content-lg-center">
            <div class="card testimonial-card">
                <div class="card-up deep-purple lighten-2"></div>
                <div class="avatar mx-auto white"><img src="./assets/images/prakriti.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid"width="160px" height="200px">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-1">Prakriti Adhikari</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> Prakriti Adhikari will be filling this up. Please </p>
                </div>
            </div>
        </div>

        <div  class="col-lg-3 col-md-12 mb-4 ">
            <div class="card testimonial-card">
                <div class="card-up deep-purple lighten-2"></div>
                <div class="avatar mx-auto white"><img src="./assets/images/chandani.jpg" alt="avatar mx-auto white" class="rounded-circle img-fluid" width="160px" height="200px">
                </div>
                <div class="card-body">
                    <h4 class="card-title mt-1">Chandani Gurung</h4>
                    <hr>
                    <p><i class="fa fa-quote-left"></i> Chandani Gurung will be filling this up. Please </p>
                </div>
            </div>
        </div>

    </div>
    <h4 class="section-description">  <strong>Goal: </strong></h4>

    <p><strong>It provides a platform for the users to share their own personal stories and enjoy other stories as well.</strong></p>

</section>
</body>
