<div class="body">
<div class="intro">
    <h1>What is TJH?</h1>
<p>A web application that allows users to SHARE , READ AND REACT stories based on different categories that are available.</p>
Categories currently available:
    <ul>
        <li>FUNNY</li>
        <li>INSPIRING</li>
        <li>ANGRY</li>
        <li>EMOTIONAL</li>
    </ul>
<div class="goal">
<h1>GOALS :</h1>
    <ul type="tick">
    <li>Allow users to read stories according to their choice and mood.</li>
    <li>Decrease unnecessary scrolling to find good content.</li>
    <li>Less energy consuming, more fun.</li>
    <li>View stories even without being logged in</li>
    <li>Upload and react on the stories as you feel ! (login feature )</li>
    </ul>
</div>
</div>
</div>
